holiday.ru-RU1.name=New Year day
holiday.ru-RU1.date=20190101
holiday.ru-RU2.name=New Year's holidays
holiday.ru-RU2.date=20190102
holiday.ru-RU3.name=New Year's holidays
holiday.ru-RU3.date=20190103
holiday.ru-RU4.name=New Year's holidays
holiday.ru-RU4.date=20190104
holiday.ru-RU5.name=New Year's holidays
holiday.ru-RU5.date=20190105
holiday.ru-RU6.name=New Year's holidays
holiday.ru-RU6.date=20190106
holiday.ru-RU7.name=Russian Xmas
holiday.ru-RU7.date=20190107
holiday.ru-RU8.name=Defender of the Fatherland Day
holiday.ru-RU8.date=20190223
holiday.ru-RU9.name=Alex's Birthday
holiday.ru-RU9.date=20190228
holiday.ru-RU10.name=International Women's Day
holiday.ru-RU10.date=20190308
holiday.ru-RU11.name=International Workers' Day
holiday.ru-RU11.date=20190501
holiday.ru-RU12.name=Victory Day
holiday.ru-RU12.date=20190509
holiday.ru-RU13.name=Russia Day
holiday.ru-RU13.date=20190612
holiday.ru-RU14.name=Day of the Programmer
holiday.ru-RU14.date=20190913
holiday.ru-RU15.name=Unity Day
holiday.ru-RU15.date=20191104
